<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="OrderMapper">

   <!-- num값에 해당하는 CartDTO 얻기  -->
   <select id="cartByNum" parameterType="int" resultType="CartDTO">
   	select num, userid, gCode, gName, gPrice,
 	                     gSize, gColor, gAmount, gImage
 	from cart
 	where num = #{num}
   
   </select>
   
   <!-- userid 값에 해당하는 MemberDTO 얻기 -->
	<select id="memberByUserid" parameterType="string"
 	  resultType="MemberDTO">
 	   select userid, passwd, username, post, addr1,
 	          addr2, phone1, phone2, phone3, email1, email2
 	   from member
 	   where userid=#{userid} 
 	</select>
 	   
</mapper>



