<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CartMapper">

   <!-- 장바구니 저장 -->
 	<insert id="cartAdd" parameterType="CartDTO">
 	   insert into cart ( num, userid, gCode, gName, gPrice,
 	                     gSize, gColor, gAmount, gImage)
 	   values (cart_seq.nextval, #{userid},#{gCode},#{gName},#{gPrice},
 	                #{gSize},#{gColor},#{gAmount},#{gImage})
 	</insert>
 	
 	<!--장바구니 목록 -->
 	<select id="cartList" parameterType="string" resultType="CartDTO">
 	   select num, userid, gCode, gName, gPrice,
 	                     gSize, gColor, gAmount, gImage
 	   from cart
 	   where userid =#{userid}
 	</select>
</mapper>



