<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BoardMapper">

    <select id="list" resultType="BoardDTO" parameterType="hashmap">
    	select num, title, author, content, writeday, readcnt
    	from board
    	
    	<if test="searchName=='title' and searchValue != null">
    		where title like '%'||#{searchValue}||'%'
    	</if>
    	<if test="searchName=='author' and searchValue != null">
    		where author like '%'||#{searchValue}||'%'
    	</if>
    	order by num desc
    </select>
    
    <insert id="write" parameterType="BoardDTO">
    	insert into board (num, title, author, content)
    	values (board_seq.nextval, #{title}, #{author}, #{content})
    </insert>
    
    <select id="retrieve" parameterType="int"
    			  resultType="BoardDTO">
    	select num, title, author, content, writeday, readcnt
    	from board
    	where num = #{num}
   
    </select>
    
    <update id="readcnt" parameterType="int">
    	update board
    	set readcnt = readcnt + 1
    	where num = #{num}
    </update>
    
    <update id="update" parameterType="BoardDTO">
    	update board
    	set title=#{title}, author=#{author}, content=#{content}
    	where num = #{num}
    </update>
    
    <delete id="delete" parameterType="int">
    	delete from board
    	where num = #{num}
    </delete>
    
    <!-- 전체 레코드 갯수 : 검색안할 때 -->
    <select id="totalCount" resultType="int">
    	select count(*)
    	from board
    </select>
    
    <!-- 전체 레코드 갯수 : 검색 할 때 -->
    <select id="totalCountSearch" resultType="int" parameterType="hashmap">
    	select count(*)
    	from board
    	<if test="searchName=='title' and searchValue != null">
    		where title like '%'||#{searchValue}||'%'
    	</if>
    	<if test="searchName=='author' and searchValue != null">
    		where author like '%'||#{searchValue}||'%'
    	</if>
    </select>
    
</mapper>